/* GO WILD AND BE CREATIVE! */
:root {
    --yellow: #fa991c;
    --white: #fbf3f2;
    --lblue: #1c768f;
    --dblue: #032539;
}

*,
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

body {
    background: var(--white);
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*NAVIGATION SECTION*/
nav {
    margin: 0;
    padding: 0 55px;
    background: var(--dblue);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav div p{
    color: var(--white);
    font-weight: 800;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

nav ul{
    display: flex;
}

nav ul li{
    padding: 18px 20px;
    cursor: pointer;
    transition: 200ms ease-in;
}

nav ul li:hover{
    background: #021825;
    transition: 200ms ease-out;
}

nav ul li a{
    color: var(--white);
    font-weight: bolder;
}

 /*HEADER SECTION*/
.top-part{
    display: flex;
    margin-bottom: 30px;
    padding: 0 4rem;
    justify-content: center;
    gap: 40px;
    align-items: center;
    background-color: white;
    box-shadow: gray 0px 1px 3px;
}

 .top-part h1{
    font-size: 2.7rem;
}

.top-part h1 span{
    color: var(--yellow);
}

 .contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 2rem 3rem 0rem;
}

 .contact-info a img{
    width: 50px;
    border-radius:100%;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

 .contact-info a img:hover{
    border-radius:5px;
    transform: scale(130%);
    margin: 0 10px;
}

 /*MAIN SECTION*/
.about-me, .educational-info, .skills-info, .sample-works{
    width: 70%;
    margin: auto;
}

.subheading{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 60px 0px 0px 0px;
}

.subheading h2{
    text-align: center;
    margin: 0 20px;
    width: 100%;
}

.subheading .line{
    background: var(--lblue);
    width: 100%;
    height: 2px;
}

.about-me p{
    margin: 30px 100px;
    font-size: 1.1rem;
    line-height: 30px;
    text-align: justify;
}

.educ-boxes{
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 30px;
}

 .educ-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

 .educ-box img{
    margin: 30px;
    position: relative;
    z-index: -1;
}

 .educ-box div p {
    text-align: center;
}

 .educ-box div p span{
    font-weight: bold;
    font-size: 1.1rem;
}

 .skills-info .skill-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 8rem;
}

 .skills-info .skill-list ul{
    text-align: left;
}

 .skills-info .skill-list ul li{
    font-size: 1.1rem;
    max-width: 250px;
    margin: 30px;
}

 .sample-works .sample-works-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 .sample-works .sample-works-boxes img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    max-width: 500px;
    margin: 20px;
    border: white solid 10px;
    border-radius: 15px;
    box-shadow: gray 0px 2px 3px;
}