@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 1px gray;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

/*GAME CONTAINER (MIDDLE SECTION)*/
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}

/*-- Game Status Display*/
#game-status {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-size: 60px;
    font-weight: 700;
}

/*-- Game Options Buttons Container*/
#bottom-container{
    position: relative;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

/*-- Game Options Buttons*/
.option-buttons {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: white;
    background-color: black; 
    height: auto;
    padding: 15px 25px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 black;
    transition: 350ms;
    transition-timing-function: ease-out;
}

.option-buttons:hover {
    color: black;
    background-color: white;
    box-shadow: 2px 2px 5px 0px black;
    cursor: pointer;
    transform: translateY(-5px);
}

.option-buttons:active {
    transform: translateY(2px);
}

/*-- Game Options Buttons (Next-Round, Reset-Game)*/
#next-round-btn, #reset-game-btn {
    display: none;
}

/*-- Game Options Buttons (CPU, PVP)*/
#gamemode-option {
    display: flex;
    flex-direction: row;
    gap: 10px;
}



/*PLAYER CONTAINER (SIDE SECTIONS)*/
.player-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 25%;
}

#player1-container{
    left: 5%;
}

#player2-container{
    right: 5%;
}

/*-- Player Score Display*/
.score {
    height: 30px;
    padding-top: 10px;
    font-size: 30px;
}

/*-- Player Button Choices Display*/
.choice-display {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-size: 60px;
    font-weight: 700;
}

.choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20px;
}

/*-- Player Button Choices*/
.choice-btn {
    display: none;
    font-size: 1rem;
    color: white;
    background-color: black;
    padding: 15px 25px;
    margin: 5px 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 black;
    transition: 350ms;
    transition-timing-function: ease-out;
}

.choice-btn:hover {
    color: black;
    background-color: white;
    box-shadow: 5px 5px 8px 0px black;
    cursor: pointer;
    transform: translateY(-5px);
}

.choice-btn:active {
    transform: translateY(2px);
}